.page-header {
  color: rgba(139, 195, 74, 0.85);
  text-align: center;
  background-color: rgba(233, 30, 99, 0.95);
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 1;
}

/* 
    If you want to style the 500x500 canvas you sketch is in, add
    CSS to the main tag, below.  You might want to add a border, 
    change alignment or add padding for example.
*/
main { CSS

}
